/* UserManagement.css */
.user-management-container {
    background-color: #e1f5fe;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: 20px auto;
    text-align: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    text-align: left;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    margin-left: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 12px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box; /* Ensures padding doesn’t affect width */
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  
  .radio-group label {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
  }
  
  button {
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  